/*  ----------------
    ABOUT SECTION
--------------------  */

.about {
    text-align: center;
    min-height: 100vh;
}

.about .row,
.projects .row {
    padding-top: 77px;
}


/*  end ABOUT SECTION
--------------------  */