/*  ----------------
    HERO SECTION
--------------------  */

.hero {
    text-align: center;
    background-color: #E0FBE2;
    min-height: auto;
    padding-top: 70px;
}

.hero img {
    width: 160px;
    height: 120px;
}

/*  end HERO SECTION
--------------------  */
