/*  ----------------
    HERO SECTION
--------------------  */

.hero {
    text-align: center;
    background-color: #E0FBE2;
    min-height: auto;
}

.hero h1,
.hero p {
    mix-blend-mode:multiply;
}

.hero img {
    width: 160px;
    height: 120px;
}

/*  end HERO SECTION
--------------------  */
