:root {
    --gradient: linear-gradient(to left top, #ACE1AF 10%, #40A578 90%) !important;
    /* Make the color is have transision from left top to right bottom */
}

/*  ----------------
    PROJECTS SECTION
--------------------  */

.projects {
    background-color: #B0EBB4;
    min-height: 100vh;
}

/*  ----------------
    Card@ PROJECTS SECTION
--------------------  */
.card {
    background: #222;
    border: 1px solid #000000;
    color: rgba(247, 87, 87, 0.8);
    margin-bottom: 2rem;
}

.card h5, h6 {
    text-align: start;
}

.btn {
    border: 5px solid;
    border-image-slice: 0.5;
    background: #40A578 !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
}

.btn:hover,
.btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #000000 !important;
    border: 2px solid #E0FBE2 !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: none;
}

/*
    end Card@ PROJECTS SECTION
--------------------  */