.my-navbar {
    background: transparent;
}

.my-navbar a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

.my-navbar .nav-link, 
.nav-link:active {
    background-color: var(--gradient);
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

.my-navbar .offcanvas {
    height: 100vh;
    width: 75%;
    border-color: none;
}

.offcanvas-body .nav-link:hover,
.offcanvas-body .nav-link:focus {
    background: var(--gradient) !important;
    /* -webkit-background-clip: none !important; */
    -webkit-text-fill-color: #000000 !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: none;
}

.offcanvas-body,
.about p,
.hero p,
.hero h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.about h2,
.projects h2,
.contact h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 37px;
}

/* ----------------
    FOOTER
---------------- */

footer {
    background-color: #BFF6C3;
    padding: 0.5rem;
}

footer a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    background-color: var(--gradient);
}

footer li {
    list-style: none;
    display: inline;
    margin: 7px;
}

/*
end footer 
------------ */