.my-navbar a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

.my-navbar .nav-link {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
}

.my-navbar .offcanvas {
    height: 100vh;
    width: 75%;
    border-color: none;
}

.offcanvas-body .nav-link:hover,
.offcanvas-body .nav-link:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #000000 !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: none;
}

.offcanvas-body,
.about p,
.hero p,
.hero h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}